.botao {
    background-color: #1E90FF;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 32px 0px;
    cursor: pointer;
    border-radius: 4px;
}

.botao:hover {
    background-color: #0b78e3;

}