.footer {
  width: 100%;
  background: linear-gradient(135deg, #071c2f, #0b2d4a);
  color: #ffffff;
  margin-top: 0px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-content {
  max-width: 1200px;
  margin: auto;
  padding: 40px 20px 28px; /* antes 60px 40px */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 22px; /* antes 30px */
}


.footer-brand h3 {
  font-size: 22px;
  margin-top: 12px;
  font-weight: 600;
  letter-spacing: 1px;
}

.footer-brand p {
  font-size: 14px;
  opacity: 0.8;
  margin-top: 6px;
}

.footer-logo {
  width: 75px;
  opacity: 0.95;
}

.footer-social {
  display: flex;
  gap: 25px;
}

.footer-social a {
  font-size: 26px;
  color: #ffffff;
  transition: all 0.3s ease;
}

.footer-social a:hover {
  color: #00d4ff;
  transform: translateY(-4px);
}

.footer-bottom {
  text-align: center;
  padding: 18px;
  font-size: 13px;
  background: rgba(0, 0, 0, 0.25);
  opacity: 0.8;
}

.footer {
  position: relative;
}

.footer::before {
  content: "";
  position: absolute;
  top: -1px;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(
    to right,
    rgba(255,255,255,0.05),
    rgba(255,255,255,0.15),
    rgba(255,255,255,0.05)
  );
}

