.time {
    position: relative; 
    text-align: center;
    padding: 60px 32px;
}

.time h3 {
    font-size: 32px;
    border-bottom: 4px solid;
    display: inline-block;
    padding-bottom: 8px;
    font-weight: bold;
}

.time .colaboradores {
    display: flex;
    justify-content: space-around;
    margin-top: 32px;
    flex-wrap: wrap;
    gap: 20px;
}

.input-cor {
    position: absolute;
    top: 20px;
    right: 50px;
    cursor: pointer;
}





.colaboradores {
    display: flex;
    flex-wrap: wrap; /* Essencial para os cards descerem */
    justify-content: center; /* Centraliza os cards em qualquer tela */
    gap: 24px;
    padding: 30px 10px;
}

.time {
    padding: 32px 15px; /* Ajusta o respiro lateral */
}

.time h3 {
    font-size: 24px; /* Título um pouco menor no mobile */
}

@media (min-width: 768px) {
    .time h3 {
        font-size: 32px;
    }
}

