.lista-suspensa label{
     display: block;
    margin-bottom: 8px;
    font-size: 24px;
}

.lista-suspensa select {
    
    background-color: #f9f9f9;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
    width: 100%;
    border: none;
    font-size: 24px;
    padding: 24px;
    box-sizing: border-box;
    
}

.lista-suspensa {
    margin: 24px 0;
}

.lista-suspensa label {
    display: block;
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: 600;
    color: #FFFFFF; /* Escrita em branco */
}

.lista-suspensa select {
    background-color: #F2F2F2;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
    width: 100%;
    border: none;
    font-size: 16px;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 20px; /* Bordas arredondadas */
    outline: none;
    cursor: pointer;
}

/* Estilizando o contorno azul quando selecionado (igual à sua imagem) */
.lista-suspensa select:focus {
    border: 2px solid #00D4FF;
}